<div class="form-panel">
    <h2>Edi&ccedil;&atilde;o de Medicação</h2>

    <form novalidate="novalidate" name="medicacao_form" class="form-horizontal style-form" ng-submit="updateMedicacao()" role="form">

		<div class="form-group">
			<label class="col-sm-2 control-label">Nome Medicação</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="nome" name="nome" ng-model="update_medicacao.nome" placeholder="Medicação" 
                	ng-minlength="2" ng-maxlength="140" maxlength="140" required/>
			</div>
			<!-- Validation DIV -->
			<div class="alert alert-warning alert-dismissible" role="alert"
				ng-show="medicacao_form.nome.$dirty && medicacao_form.nome.$invalid">
				<small class="error" ng-show="medicacao_form.nome.$error.required">
					O nome &eacute; obrigat&oacute;rio. </small> <small class="error"
					ng-show="medicacao_form.nome.$error.minlength"> O nome precisa
					ter ao menos 6 caracteres. </small> <small class="error"
					ng-show="medicacao_form.nome.$error.maxlength"> Nome da medicação
					n&atilde;o pode conter mais de 140 caracteres. </small>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Observação</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="obs" name="obs" ng-model="update_medicacao.obs" placeholder="Observação" 
                	ng-minlength="2" ng-maxlength="200" maxlength="200"/>
			</div>
		</div>
        <div class="form-group">
        	<div class="col-sm-2">Prioridade</div>
        	<div class="btn-group col-sm-3">
		        <button type="button" name="myStateButton" class="btn btn-primary" ng-model="update_medicacao.prioridade" btn-radio="1">
		        	<span class="glyphicon glyphicon-record" aria-hidden="true"></span>
		        </button>
		        <button type="button" name="myStateButton" class="btn btn-warning" ng-model="update_medicacao.prioridade" btn-radio="2">
		        	<span class="glyphicon glyphicon-record" aria-hidden="true"></span>
		        </button>
		        <button type="button" name="myStateButton" class="btn btn-danger" ng-model="update_medicacao.prioridade" btn-radio="3">
		        	<span class="glyphicon glyphicon-record" aria-hidden="true"></span>
		        </button>
		    </div>
        </div> 
		<script>
		
			$(".btn-group button[name=myStateButton]").click(function(e) {
				$('.btn-group button[name=myStateButton]').button('reset');
				var span = $(this).find('span');
				
			    if($(span).hasClass('glyphicon-record')) {
			    	$(span).removeClass('glyphicon-record');
			    	$(span).addClass('glyphicon-ok');
			    } else {
			    	$(span).removeClass('glyphicon-ok');
			    	$(span).addClass('glyphicon-record');
			    }
			});
			$(function() {
				setTimeout(marcardb, 500)
			})

			function marcardb() {
				$.each($(".btn-group button[name=myStateButton]"), function(i,value){

					var rdb = $(value).hasClass("active");
					if(rdb) {
						this.click();
						return false;
					}
				});
			}
		</script>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="role">Data Inicial</label>
		        <div class="col-md-4">
		            <p class="input-group">
		              <input type="text" class="form-control disabled" ng-disabled="disabled"
		              		datepicker-popup="{{format}}" 
		              		ng-model="dt" 
		              		is-open="opened" 
		              		min-date="minDate" 
		              		show-weeks = "false" 
		              		datepicker-options="dateOptions" 
		              		date-disabled="disabled(date, mode)" 
		              		ng-required="true" close-text="Fechar" show-button-bar = "false"  style="width:96%"/>
		              <span class="input-group-btn">
		                <button type="button" class="btn btn-default" ng-click="open($event)" style="right:12px"><i class="glyphicon glyphicon-calendar"></i></button>
		              </span>
		            </p>
		        </div>
		        <label class="col-sm-2 control-label" for="role">Frequencia</label>
	           	 <div class="col-sm-4">
	 	           	<timepicker ng-model="mytime" ng-change="changed()" hour-step="1" minute-step="1" show-meridian="false"></timepicker>
	           	 </div>
		</div>
        <div class="form-group">
			<label class="col-sm-2 control-label" for="role">Inicio</label>
           	 <div class="col-sm-4">
 	           	<select id="inicio" name="inicio" ng-model="update_medicacao.inicio" required class="form-control">
	           		<option value="0">Agora</option>
	           		<option value="1">Amanhã</option>
	           		<option value="2">2 dias</option>
	           	</select>
           	 </div>
			<label class="col-sm-2 control-label" for="role">Duração</label>
           	 <div class="col-sm-4">
 	           	<select id="duracao" name="duracao" ng-model="update_medicacao.duracao" required class="form-control">
	           		<option value="1">1 dia</option>
	           		<option value="2">2 dias</option>
	           		<option value="7">1 Semana</option>
	           		<option value="30">1 Mês</option>
	           	</select>
           	 </div>
        </div>
        <div class="form-group">
			<label class="col-sm-2 control-label" for="role">Frequencia</label>
           	 <div class="col-sm-4">
 	           	<select id="frequencia" name="frequencia" ng-model="update_medicacao.frequencia" required class="form-control">
	           		<option value="0">Agora</option>
	           		<option value="1">Amanhã</option>
	           		<option value="2">2 dias</option>
	           	</select>
           	 </div>
			<label class="col-sm-2 control-label" for="role">Duração</label>
           	 <div class="col-sm-4">
 	           	<select id="duracao" name="duracao" ng-model="update_medicacao.duracao" required class="form-control">
	           		<option value="2">2 horas</option>
	           		<option value="8">8 horas</option>
	           		<option value="12">12 horas</option>
	           		<option value="24">24 horas</option>
	           	</select>
           	 </div>
        </div>
        <div class="form-group">
			<label class="col-sm-2 control-label" for="role">Dosagem</label>
           	 <div class="col-sm-2">
 	           	<select id="dosagem" name="dosagem" ng-model="update_medicacao.dosagem" required class="form-control">
	           		<option value="1">1</option>
	           		<option value="2">2</option>
	           		<option value="3">3</option>
	           	</select>
           	 </div>
           	 <div class="col-sm-2">
 	           	<select id="tipo" name="tipo" ng-model="update_medicacao.tipo" required class="form-control">
	           		<option value="COMPRIMIDO">Comprimido</option>
	           		<option value="GOTAS">Gotas</option>
	           		<option value="INJETAVEL">Injetável</option>
	           		<option value="SUPOSITORIO">Supositório</option>
	           	</select>
           	 </div>
        </div>

		<div class="form-group">
        	<br>
            <div class="col-sm-10">
            	<button type="button" ng-click="cancel()" class="btn btn-default">Cancelar</button>
            	<button type="submit" ng-disabled="medicacao_form.$invalid" class="btn btn-primary">Atualizar</button>
            </div>
        </div>
    </form>
</div>