<div class="form-panel">
    <h2>Edi&ccedil;&atilde;o de Medicação</h2>

    <form novalidate="novalidate" name="medicacao_form" class="form-horizontal style-form" ng-submit="updateMedicacao()" role="form">

		<div class="form-group">
			<label class="col-sm-2 col-sm-2 control-label">Nome Medicação</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="name" name="name" ng-model="update_medicacao.name" placeholder="Nome" 
                	ng-minlength="2" ng-maxlength="140" maxlength="140" required/>
			</div>
			<!-- Validation DIV -->
			<div class="alert alert-warning alert-dismissible" role="alert"
				ng-show="user_form.name.$dirty && user_form.name.$invalid">
				<small class="error" ng-show="user_form.name.$error.required">
					Seu nome &eacute; obrigat&oacute;rio. </small> <small class="error"
					ng-show="user_form.name.$error.minlength"> Seu nome precisa
					ter ao menos 6 caracteres. </small> <small class="error"
					ng-show="user_form.name.$error.maxlength"> Seu nome
					n&atilde;o pode conter mais de 140 caracteres. </small>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 col-sm-2 control-label">Endereço</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="endereco" name="endereco" ng-model="update_medicacao.endereco" placeholder="Endereço" 
                	ng-minlength="2" ng-maxlength="200" maxlength="200"/>
			</div>
			<!-- Validation DIV -->
			<div class="alert alert-warning alert-dismissible" role="alert"
				ng-show="user_form.endereco.$dirty && user_form.endereco.$invalid">
				<small class="error" ng-show="user_form.endereco.$error.required">
					Seu nome &eacute; obrigat&oacute;rio. </small> <small class="error"
					ng-show="user_form.endereco.$error.minlength"> Seu Endereço precisa
					ter ao menos 6 caracteres. </small> <small class="error"
					ng-show="user_form.endereco.$error.maxlength"> Seu Endereço
					n&atilde;o pode conter mais de 200 caracteres. </small>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 col-sm-2 control-label">Email</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="email" name="txemail" ng-model="update_medicacao.email" placeholder="E-mail" required/>
			</div>
			<!-- Validation DIV -->
			<div class="alert alert-warning alert-dismissible" role="alert"
				ng-show="user_form.txemail.$dirty && user_form.txemail.$invalid">
				<small class="error" ng-show="user_form.email.$error.required">
					Seu email &eacute; obrigat&oacute;rio. </small> <small class="error"
					ng-show="user_form.txemail.$error.email"> Informe um e-mail
					v&aacute;lido! </small>
			</div>
			<label class="col-sm-2 col-sm-2 control-label">Celular</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" id="celular" name="celular" ng-model="update_medicacao.celular" placeholder="Celular" 
                	ng-minlength="2" ng-maxlength="200" maxlength="200"/>
			</div>
			<!-- Validation DIV -->
			<div class="alert alert-warning alert-dismissible" role="alert"
				ng-show="user_form.celular.$dirty && user_form.celular.$invalid">
				<small class="error" ng-show="user_form.celular.$error.required">
					Seu celular &eacute; obrigat&oacute;rio. </small> <small class="error"
					ng-show="user_form.celular.$error.minlength"> Seu celular precisa
					ter ao menos 6 caracteres. </small> <small class="error"
					ng-show="user_form.celular.$error.maxlength"> Seu celular
					n&atilde;o pode conter mais de 200 caracteres. </small>
			</div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label" for="password">Senha:</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" id="txpassword" ng-minlength="6" ng-maxlength="16" maxlength="16"
                	  name="txpassword" ng-model="update_medicacao.password" placeholder="Senha" ng-pattern="/^[a-zA-Z0-9\-\_]{1,}$/" ng-trim="false" required/>
            </div>
            
            <!-- Validation DIV -->
           	<div class="alert alert-warning alert-dismissible" role="alert" ng-show="user_form.txpassword.$dirty && user_form.txpassword.$invalid">
			    <small class="error" ng-show="user_form.txpassword.$error.required">
			        Sua senha &eacute; obrigat&oacute;ria.
   				</small>
   				<small class="error" ng-show="user_form.txpassword.$error.pattern">
			        Sua senha n&atilde;o pode conter espaços.
			    </small>
			    <small class="error" ng-show="user_form.txpassword.$error.minlength">
			        Sua senha precisa ter ao menos 6 caracteres.
			    </small>
  			</div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2 col-sm-2 " for="password">Repetir Senha:</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" id="repassword" ng-minlength="6" ng-maxlength="16" maxlength="16" 
                			name="repassword" ng-model="repassword" placeholder="Repetir a senha" nx-equal-ex="update_medicacao.password" required />
            </div>
            
            <div class="alert alert-warning alert-dismissible" role="alert" ng-show="user_form.repassword.$error.nxEqualEx">
			    <small class="error" ng-show="user_form.repassword.$error.nxEqualEx">
			        As senhas n&atilde;o conferem.
   				</small>
  			</div>
        </div>     
        <div class="form-group">
			<label class="col-sm-2 col-sm-2 control-label" for="role">Perfil do Usu&aacute;rio</label>
           	
           	 <div class="col-sm-5">
 	           	<select id="role" name="role" ng-model="update_medicacao.role" required class="form-control">
	           		<option value="ADMINISTRADOR">Administrador</option>
	           		<option value="CUIDADOR">Cuidador</option>
	           		<option value="SENIOR">Senior</option>
	           	</select>
	           	
<!-- 				<select id="selectRole" ng-model="roles" class="form-control"
					required="required" name="role" id="role" 
					ng-options="role.chave as role.valor for role in roles">
					<option value="">-- Selecione um Perfil --</option>
				</select> -->
           	 </div>
        </div>
	        <div class="form-group" ng-show="update_medicacao.role=='SENIOR'">
	        <div class="col-sm-12">
				<label class="col-sm-2 control-label">Tipo Sanguineo</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="tipo_sanguineo" name="tipo_sanguineo" ng-model="update_medicacao.tipo_sanguineo" placeholder="Tipo Sanguineo" 
	                	ng-minlength="2" ng-maxlength="5" maxlength="5"/>
				</div>
				<label class="col-sm-2 control-label">Raio de Segurança</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="raio_seg" name="raio_seg" ng-model="update_medicacao.raio_seg" placeholder="Raio" 
	                	ng-minlength="2" ng-maxlength="5" maxlength="5"/>
				</div>
				<label class="control-label">km</label>
			</div>
			<br/>
			<br/>
			<div class="col-sm-12">
				<label class="col-sm-2 control-label">Peso</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="peso" name="peso" ng-model="update_medicacao.peso" placeholder="Peso (Kg)" 
	                	ng-minlength="2" ng-maxlength="5" maxlength="5"/>
				</div>
				<label class="col-sm-2 control-label">Altura</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="altura" name="altura" ng-model="update_medicacao.altura" placeholder="Altura" 
	                	ng-minlength="2" ng-maxlength="5" maxlength="5"/>
				</div>
			</div>	
			<br/>
			<br/>
			<div class="col-sm-12">
			
				<label class="col-sm-2 control-label">Doenças</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" id="doenca" name="doenca" ng-model="update_medicacao.doenca" placeholder="Doenças" 
	                	ng-minlength="2" ng-maxlength="200" maxlength="200"/>
				</div>
			</div>
		</div>	
		<div class="form-group">
        	<br>
            <div class="col-sm-10">
            	<button type="button" ng-click="cancel()" class="btn btn-default">Cancelar</button>
            	<button type="submit" ng-disabled="user_form.$invalid" class="btn btn-primary">Atualizar</button>
            </div>
        </div>
    </form>
</div>