<div class="form-panel">
    <h2>Edi&ccedil;&atilde;o de Medicação</h2>

    <form novalidate="novalidate" id="medicacao_form" ng-controller="MedicacaoDetailCtrl" name="medicacao_form" class="form-horizontal style-form" ng-submit="updateMedicacao()" role="form">

		<div class="form-group">
			<label class="col-sm-2 control-label">Nome Medicação</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="nome" name="nome" ng-model="update_medicacao.nome" placeholder="Medicação" 
                	ng-minlength="2" ng-maxlength="140" maxlength="140" required/>
			</div>
			<!-- Validation DIV -->
			<div class="alert alert-warning alert-dismissible" role="alert"
				ng-show="medicacao_form.nome.$dirty && medicacao_form.nome.$invalid">
				<small class="error" ng-show="medicacao_form.nome.$error.required">
					O nome &eacute; obrigat&oacute;rio. </small> <small class="error"
					ng-show="medicacao_form.nome.$error.minlength"> O nome precisa
					ter ao menos 6 caracteres. </small> <small class="error"
					ng-show="medicacao_form.nome.$error.maxlength"> Nome da medicação
					n&atilde;o pode conter mais de 140 caracteres. </small>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Observação</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="obs" name="obs" ng-model="update_medicacao.obs" placeholder="Observação" 
                	ng-minlength="2" ng-maxlength="200" maxlength="200"/>
			</div>
		</div>

 
        <div class="form-group">
			<div class="col-sm-2">Prioridade</div>
			<div class="btn-group col-sm-3">
<!-- 				<label class="btn active">
                      <input type="radio" name="update_medicacao.prioridade" value="1" ng-model="update_medicacao.prioridade">
                      <i class="fa fa-circle-o fa-2x red"></i>
                      <i class="fa fa-check-circle-o fa-2x red"></i>
                </label>
 				<label class="btn">
                      <input type="radio" name="update_medicacao.prioridade" value="2" ng-model="update_medicacao.prioridade">
                      <i class="fa fa-circle-o fa-2x orange"></i>
                      <i class="fa fa-check-circle-o fa-2x orange"></i>
                </label>			
 				<label class="btn">
                      <input type="radio" name="update_medicacao.prioridade" value="3" ng-model="update_medicacao.prioridade">
                      <i class="fa fa-circle-o fa-2x green"></i>
                      <i class="fa fa-check-circle-o fa-2x green"></i>
                </label> -->			
			    <div class="btn-group">
			        <label class="btn btn-success" ng-model="update_medicacao.prioridade" btn-radio="1" name="prioridade">
				    	<span class="glyphicon glyphicon-record" aria-hidden="true" id="spanPrioridade"></span>
					</label>
			        <label class="btn btn-warning" ng-model="update_medicacao.prioridade" btn-radio="2" name="prioridade">
	   				    <span class="glyphicon glyphicon-record" aria-hidden="true" id="spanPrioridade"></span>
					</label>
			        <label class="btn btn-danger" ng-model="update_medicacao.prioridade" btn-radio="3" name="prioridade">
  				   		<span class="glyphicon glyphicon-record" aria-hidden="true" id="spanPrioridade"></span>
					</label>
			    </div>
			
<!-- 				<button type="button" ng-click="setPrioridade(1)" name="prioridade" id="prioridade1" data-complete-text="ok" class="btn btn-danger" autocomplete="off">
				   <span class="glyphicon glyphicon-record" aria-hidden="true" id="spanPrioridade1"></span>
				</button>
			  	<button type="button" ng-click="setPrioridade(2)" name="prioridade" id="prioridade2" data-complete-text="ok" class="btn btn-warning" autocomplete="off">
				   <span class="glyphicon glyphicon-record" aria-hidden="true" id="spanPrioridade2"></span>
				</button>
				<button type="button" ng-click="setPrioridade(3)" name="prioridade" id="prioridade3" data-complete-text="ok" class="btn btn-success" autocomplete="off">
				   <span class="glyphicon glyphicon-record" aria-hidden="true" id="spanPrioridade3"></span>
				</button>
 -->			</div>
			<script>			
/* 				$('.btn-group label[name=prioridade]').on('click', function () {
				$('.btn-group label[name=prioridade]').button('reset'); //.btn-group button
			   // $(this).button('complete') // button text will be "finished!"
			    var span = $(this).find('span');
			    if($(span).hasClass('glyphicon-record')) {
			    	$(span).removeClass('glyphicon-record');
			    	$(span).addClass('glyphicon-ok');
			    } else {
			    	$(span).removeClass('glyphicon-ok');
			    	$(span).addClass('glyphicon-record');
			    	
			    }
			    console.log($(span).hasClass('glyphicon-ok'));
			    console.log($('.btn-group label[ng-value=prioridade]').hasClass('glyphicon-ok'));
			  });  */
/* 			    var escopo = angular.element(document.getElementById('medicacao_form')).scope();
			    console.log(escopo.this.update_medicacao);
			    console.log($(escopo)[0].this.update_medicacao);
 */			 // $('#prioridade'+angular.element($("#update_medicacao.prioridade")).scope()).click(); */
			</script>
        </div>     
        <div class="form-group">
			<label class="col-sm-2 control-label" for="role">Inicio</label>
           	 <div class="col-sm-4">
 	           	<select id="inicio" name="inicio" ng-model="update_medicacao.inicio" class="form-control">
	           		<option value="0">Agora</option>
	           		<option value="1">Amanhã</option>
	           		<option value="2">2 dias</option>
	           	</select>
           	 </div>
			<label class="col-sm-2 control-label" for="role">Duração</label>
           	 <div class="col-sm-4">
 	           	<select id="duracao" name="duracao" ng-model="update_medicacao.duracao" class="form-control">
	           		<option value="1">1 dia</option>
	           		<option value="2">2 dias</option>
	           		<option value="7">1 Semana</option>
	           		<option value="30">1 Mês</option>
	           	</select>
           	 </div>
        </div>
        <div class="form-group">
			<label class="col-sm-2 control-label" for="role">Frequencia</label>
           	 <div class="col-sm-4">
 	           	<select id="frequencia" name="frequencia" ng-model="update_medicacao.frequencia" class="form-control">
	           		<option value="0">Agora</option>
	           		<option value="1">Amanhã</option>
	           		<option value="2">2 dias</option>
	           	</select>
           	 </div>
			<label class="col-sm-2 control-label" for="role">Dosagem</label>
           	 <div class="col-sm-2">
 	           	<select id="dosagem" name="dosagem" ng-model="update_medicacao.dosagem" class="form-control">
	           		<option value="1">1</option>
	           		<option value="2">2</option>
	           		<option value="3">3</option>
	           	</select>
           	 </div>
           	 <div class="col-sm-2">
 	           	<select id="tipo" name="tipo" ng-model="update_medicacao.tipo" class="form-control">
	           		<option value="COMPRIMIDO">Comprimido</option>
	           		<option value="GOTAS">Gotas</option>
	           		<option value="INJETAVEL">Injetável</option>
	           		<option value="SUPOSITORIO">Supositório</option>
	           	</select>
           	 </div>
        </div>

		<div class="form-group">
        	<br>
            <div class="col-sm-10">
            	<button type="button" ng-click="cancel()" class="btn btn-default">Cancelar</button>
            	<button type="submit" ng-disabled="medicacao_form.$invalid" class="btn btn-primary">Atualizar</button>
            </div>
        </div>
    </form>
</div>